<div class="row inputer mx-auto col-md-10">	
	<div class="task_creator form-control col-md-8">	
		<label for="inp" class="col-md-3">What you gonna do?</label>
		<input type="text" name="inp" class="col-md-9" [(ngModel)]="newToDo.whatAreYouDoing">
	</div>
	<div class="select col-md-1">
        <select id="selects_1" class="selector" [(ngModel)]="newToDo.priority">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="col-md-3">    	
		<button class="btn btn-success-outline add_button" (click)="addItem();">Add</button>
		<button class="btn btn-danger delete_button" (click)="logOut();">Out</button>
    </div>
</div>
<div *ngFor="let think of toDos" class="think row col-md-10">
	<div class="col-md-1">
 	  <input type="checkbox" class="checkbox" name="checkbox" [(ngModel)]="think.checked"/>
	</div>
	<input type="text" name="think" class="col-md-7 think_input" [(ngModel)]="think.whatAreYouDoing"/>
	<div class="col-md-1 show_priority">
		<span name="priority" class="">{{think.priority}}</span> 
	</div>
	<div class="col-md-3 buttons">
		<button class="btn btn-info-outline" (click)="updateItem(think)">
			Edit
		</button>
		<button class="btn btn-danger-outline" (click)="basic = true" (click)="useModal(think)">
			Delete
		</button>
		<clr-modal [(clrModalOpen)]="basic">
		    <h3 class="modal-title">Delete</h3>
		    <div class="modal-body">
		        <p>Do you really want to delete item {{toChange.whatAreYouDoing}}?</p>
		    </div>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
		        <button type="button" class="btn btn-primary" (click)="basic = false" (click)=deleteItem()>
		        	Ok
		        </button>
		    </div>
		</clr-modal>
	</div>
</div>
