body{
  background-color: #FBF9F9;
  height: 100vh;
}
.inputer{
	height: 100%;
	margin-left: 50px;
  margin-bottom: 30px;
	padding: 5px;
}
.think{
    height: 100%;
    margin: 10px auto;
    padding: 3px;
    border: solid 1px;
    border-color: blue;
    border-radius: 10px;
}
.id{
	text-align: center;
}
.checkbox{
	margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}
.task_creator{
  display: flex;
  align-items: center;
  justify-content: center;
}
.selector{
	margin: 10px;
}
.add_button{
	margin-left: 37px;
}
.show_priority{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
.show_priotiry span{
  margin-top: 17px;
}
.think_input{
	margin-top: 16px;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}